extends layout.pug 

block content

    .todos
        if todos.length
            p Current Notes
                table
                    tr 
                        th Name
                        th Notes
                        th Edit
                        th Delete
                    each todo in todos
                        tr
                            td #{ todo.name}
                            td #{ todo.done == "on" ? "yes" : "no"}
                            td
                                a(href=`${ todo.id}/update`)
                                    i.fa-solid.fa-pen-to-square
                            td
                                a(href=`${ todo.id }/delete`)
                                    i.fa-solid.fa-trash
        else
            p.todo_add Click the button to add some notes