* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #353535;
    width: 100%;
    display: flex;
    padding: 2rem 12rem;
    justify-content: space-between;
    
}


.wrapper {
    min-height: 60vh;
    max-width: 1000px;
    padding: 1rem 0 0 0 ;
    margin: 20px auto;

}

.todos p {
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center;
    margin: 2rem;
}


.logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.logo_ {
    color: black;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav ul li {
    list-style: none;
    margin-right: 2rem;
}

.nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.nav ul li a:hover {
    color: rgb(255, 255, 255);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    padding: 10px;
    border: 2px solid #353535;
    text-align: center;

}

tr:hover:not(:first-child) {
    background-color: #dddddd;
}

.fa-trash {
    color: #353535;
    font-size: 1.5rem;
}

.fa-pen-to-square {
    color: #353535;
    font-size: 1.5rem;
}
.fa-solid:hover {
    color: black;
}

.error {
    color: red;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}
.name {
    width: 20%;
    border: 1px solid #353535;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    width: 17rem;
    height: 2rem;
 

}

.description {
    width: 40%;
    padding: 1rem;
    height: 10rem;
    border-radius: .5rem;
    resize: none;
    margin: 1rem 0;

}

.btn {
    width: 8rem;
    color:rgb(255, 255, 255);
    height: 3rem;
    font-size: 1.2rem;
    background-color: #353535;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: #55c45b;
    color: #777;
}

.done_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 1rem ;
}

.done {
    margin-left: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 2rem 5rem; 
}

.map {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;    
}


.map li{
    color: white;
    text-align: center;
    padding: .5rem 0;
}

.map li a {
    text-decoration: none;
    color: black;
    transition: 0.5;
    font-size: 1.1rem;  
    margin: 1rem 0;
}

.map li a:hover {
    color: white;
}